In [52]:
import pandas as pd

In [53]:
df=pd.read_csv('music.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [54]:
df.shape

(18, 3)

In [55]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
df.head

<bound method NDFrame.head of     age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical>

In [58]:
model=DecisionTreeClassifier()

In [59]:
X=df.drop(columns='genre')
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [60]:
y=df['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [61]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2)
X_train

    age  gender
9    20       0
0    20       1
4    29       1
13   27       0
15   31       0
2    25       1
5    30       1
14   30       0
7    33       1
1    23       1
10   21       0
3    26       1
17   35       0
6    31       1

In [62]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [63]:
prediction=model.predict(X_test)
prediction

array(['Classical', 'Dance', 'Acoustic', 'Classical'], dtype=object)

In [64]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(prediction,y_test)
accuracy

1.0

In [66]:
import joblib
joblib.dump(model,'recommender')

['recommender']

In [67]:
model_2=joblib.load('recommender.joblib')
prediction_2=model_2.predict([[30,0]])

FileNotFoundError: [Errno 2] No such file or directory: 'recommender.joblib'